.node {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    display: inline-block;
}

.node-finish {
    background-color: maroon;
}

.node-start {
    background-color: forestgreen;
}

.node-visit {
    background-color: aqua;
}